################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SCPSLDonortag/v15
/SCPSLDonortag/bin/Debug
/SCPSLDonortag/obj/Debug
